.b-subscribe-form {
	padding-top: 60px;
	padding-bottom: 40px;

	@include breakpoint(medium) {
		padding-top: 90px;
		padding-bottom: 80px;
	}

	.button {
		margin-top: 20px;
	}
}

.subscribe-title {
	margin-bottom: 30px;
}

.form-holder {
	
	.form-success,
	.form-error {
		display: none;
		text-align: center;
		padding: 46px 10px;
		background: $input-background;

		h2 {
			color: $black;
		}

		p {
			font-size: 18px;
			color: $black;
			font-weight: 300;
		}

		a {
			font-size: 18px;
		}

		img {
			margin-bottom: 20px;
		}
	}
}
