section.b-subscribe-form#subscribe
    .row
        .small-12.medium-6.columns
            .subscribe-title
                h2 #[span.colored Подписывайтесь] на обновления в событиях института и новости литигаторской деятельности
            .row
                .small-12.medium-9.columns
                    .subscribe-descr
                        p С подпиской вы получите эксклюзивные вебинары, самые свежие конференции, курсы литигаторства, закрытые материалы
        .small-12.medium-6.columns
            .form-holder
                //.form-success
                //    img(src="../images/icon-success.png", alt="success")
                //    h2 Максим, спасибо!
                //    p Ваше сообщение успешно отправлено
                //.form-error
                //    img(src="../images/icon-error.png", alt="error")
                //    h2 Возникла ошибка
                //    p Сообщение не получилось отправить
                //    a(href="#") Попробовать еще раз
                form.contact-form(method='GET' action='../../example.json')
                    input(type="text" placeholder="Ваше имя" name='name' required)
                    input(placeholder="Ваша электронная почта" type="email" name="email" required)
                    button.button Подписаться